.tile{
    background-color: azure;
    padding: 15px;
    box-shadow: 2px 2px 15px 2px rgb(152, 152, 152);
    border-radius: 8px;
    height: 10rem;
}
.tile:hover{
    cursor: pointer;
    background-color: rgb(212, 255, 255);
}
